<!doctype html>
<html lang="en" data-ng-app="hysoft">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>hysoftware</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "third_party/bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "third_party/ionicons/css/ionicons.min.css" %}">
    <link rel="stylesheet" href="{% static "third_party/angular/angular-csp.css" %}">

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400'>

    <link rel="stylesheet" href="{% static "assets.css" %}">
    <script src="{% static "third_party.js" %}" defer></script>
    <script src="{% static "assets.js" %}" defer></script>
    <script defer>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-62016865-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script type="text/ng-template" id="/home">
        <article class="index row">
            <header class="text-center col-sm-12 col-md-6">
                <div id="header-text" class="vcenter">
                    <h1>hysoftware</h1>
                    <h2>Agile Development {% if pros|length > 1 %}Professionals{% else %}Professional{% endif %}</h2>
                </div>
            </header>
            <div id="menu-index" class="col-sm-12 col-md-6">
                <ul class="vcenter">
                    {% for link in links %}
                    <li>
                        {% if link.sref %}
                        <a href="javascript:void(0)" data-ui-sref="{{ link.sref }}">
                            {% elif link.href %}
                            <a href="{{ link.href }}" target="_blank">
                                {% endif %}
                                {{ link.name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
            </div>
        </article>
    </script>
    <script type="text/ng-template" id="/oops">
        <article class="no-route-found text-center">
            <header>
                <h1>Oops! No route found!</h1>
            </header>
            <p>How did you reach here??</p>
        </article>
    </script>
    <base href="/">
</head>
<body data-ng-cloak>
    <nav class="navbar navbar-default navbar-fixed-top hysoft-header" data-ng-hide="state.is('home')">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#top-menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" data-ui-sref="home" href="javascript:void(0)">hysoftware</a>
            </div>
            <div class="collapse navbar-collapse" id="top-menu">
                <ul class="nav navbar-nav">
                    {% for link in links %}
                        <li>
                        {% if link.sref %}
                            <a href="javascript:void(0)" data-ui-sref="{{ link.sref }}">
                        {% else %}
                            <a href="{{ link.href }}" target="_blank">
                        {% endif %}
                                {{ link.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="ui-view" data-ng-class="{'container-fluid': state.is('home'), 'main container': !state.is('home')}">
        <article class="error text-center">
            <header>
                <h1>Oops! Page Not Found</h1>
            </header>
            <p>
                You will see this error when the page you need is not found.<br>
                But... It doesn't mean the route is undefined.
            </p>
        </article>
    </div>
</body>
</html>
