<!doctype html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>hysoft</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "third_party/bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "third_party/ionicons/css/ionicons.min.css" %}">
    <link rel="stylesheet" href="{% static "third_party/angular/angular-csp.css" %}">

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Indie+Flower'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400'>

    <link rel="stylesheet" href="{% static "assets.css" %}">
    <script src="{% static "third_party.js" %}"></script>
    <script src="{% static "assets.js" %}"></script>
</head>
<body data-ng-app="hysoft" data-ng-cloak>
    <div class="index left-area hidden-xs hidden-sm" data-ng-if="state.is('home')">
        <div class="developer-list">
            {% for developer in pros %}
            <h1>- Developer:</h1>
            <div class="data">
                <p>Name: "{{ developer.first_name }} {{ developer.last_name }}"</p>
                {% if developer.programming_languages %}
                    <p>Programming Languages:</p>
                    <div class="data programming-language">
                        {% for language in developer.programming_languages %}
                            - "{{ language }}" <br>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if developer.natural_languages %}
                    <p>Natural Languages:</p>
                    <div class="data natural-language">
                        {% for language in developer.natural_languages %}
                            - "{{ language }}" <br>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="title text-center">
            <h1>HYSOFT</h1>
            <p>
                - Agile Development {% if pros|length > 1 %} Professionals {% else %} Professional {% endif %}-
            </p>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-top hysoft-header" data-ng-hide="state.is('home')">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#top-menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" data-ui-sref="home" href="javascript:void(0)">HYSOFT</a>
            </div>
            <div class="collapse navbar-collapse" id="top-menu">
                <ul class="nav navbar-nav">
                    {% for link in links %}
                        <li>
                        {% if link.sref %}
                            <a href="javascript:void(0)" data-ui-sref="{{ link.sref }}">
                        {% else %}
                            <a href="{{ link.href }}">
                        {% endif %}
                                {{ link.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="index ui-view hidden-sm hidden-xs"
         data-ng-class="{'main container': !state.is('home'), 'right-area': state.is('home')}">
        <nav class="main-menu">
            {% for link in links %}
                <div>
                {% if link.sref %}
                    <a href="javascript:void(0)" data-ui-sref="{{ link.sref }}">
                {% else %}
                    <a href="{{ link.href }}">
                {% endif %}
                    {{ link.name }}
                    </a>
                </div>
            {% endfor %}
        </nav>
    </div>

    <div class="visible-xs visible-sm">
        <div class="index mobile jumbotron" data-ng-if="state.is('home')">
            <div class="title text-center">
                <h1>HYSOFT</h1>
                <p>
                    Agile Development {% if pros|length > 1 %} Professionals {% else %} Professional {% endif %}
                </p>
            </div>
        </div>

        <div class="index ui-view" data-ng-class="{'main container': !state.is('home')}">
            <nav class="main-menu navbar navbar-default hysoft-header" data-ng-if="state.is('home')">
                <div class="text-center">
                    <ul class="nav navbar-nav">
                        {% for link in links %}
                            <li>
                            {% if link.sref %}
                                <a href="javascript:void(0)" data-ui-sref="{{ link.sref }}">
                            {% else %}
                                <a href="{{ link.href }}">
                            {% endif %}
                                    {{ link.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</body>
</html>
