<article class="contact">
    <header>
        <h1>Contact</h1>
    </header>
    <p>
        To contact someone at hysoft, you can use this form:
    </p>
    <form class="form-horizontal" name="contactForm" data-ng-submit="sendForm()" novalidate>
        {% csrf_token %}
        <div id="sender_name_form" class="form-group has-feedback" data-ng-class="{'has-success': contactForm.sender_name.$valid, 'has-error': contactForm.sender_name.$invalid&amp;&amp;contactForm.sender_name.$dirty}">
            <label for="sender_name" class="col-sm-2 control-label">Your Name</label>
            <div class="col-sm-5">
                <input type="text" id="sender_name" name="sender_name" data-ng-model="form.sender_name"  data-ng-disabled="contactForm.$submitted" class="form-control" required>
                <span id="sender_name_mark" class="glyphicon form-control-feedback" aria-hidden="true" data-ng-if="contactForm.sender_name.$valid||(contactForm.sender_name.$invalid&amp;&amp;contactForm.sender_name.$dirty)" data-ng-class="{'glyphicon-ok': contactForm.sender_name.$valid, 'glyphicon-warning-sign': contactForm.sender_name.$invalid&amp;&amp;contactForm.sender_name.$dirty}"></span>
            </div>
        </div>
        <div id="sender_email_form" class="form-group has-feedback" data-ng-class="{'has-success': contactForm.sender_email.$valid, 'has-error': contactForm.sender_email.$invalid&amp;&amp;contactForm.sender_email.$dirty}">
            <label for="sender_email" class="col-sm-2 control-label">Your Email Address</label>
            <div class="col-sm-5">
                <input type="email" id="sender_email" name="sender_email" data-ng-blur="checkMailIsInList()" data-ng-change="clearMailIsInList()" data-ng-model="form.sender_email" data-ng-pattern="/.+\@.+\..+/" data-ng-disabled="contactForm.$submitted" class="form-control" required>
                <span id="sender_email_mark" class="glyphicon form-control-feedback" aria-hidden="true" data-ng-if="contactForm.sender_email.$valid||(contactForm.sender_email.$invalid&amp;&amp;contactForm.sender_email.$dirty)" data-ng-class="{'glyphicon-ok': contactForm.sender_email.$valid, 'glyphicon-warning-sign': contactForm.sender_email.$invalid&amp;&amp;contactForm.sender_email.$dirty}"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="recipient_address" class="col-sm-2 control-label">To</label>
            <div class="col-sm-5">
                <select id="recipient_address" class="form-control" data-ng-blur="checkMailIsInList()" data-ng-change="clearMailIsInList()" data-ng-model="form.recipient_address" data-ng-disabled="contactForm.$submitted" required>
                    <option value="" selected disabled>- Please Choose -</option>
                    {% for developer in developers %}
                        {% if dev_hash and dev_hash == developer.hash %}
                            <option value="{{ developer.hash }}" selected>
                        {% else %}
                            <option value="{{ developer.hash }}">
                        {% endif %}
                            {{developer.firstname}} {{developer.lastname}}
                        </option>
                    {% endfor %}
                </select>
                <div id="oops_sign" class="alert alert-info" data-ng-show="form.recipient_address&amp;&amp;contactForm.sender_email.$dirty&amp;&amp;heIsInList===false">
                    <div class="icon text-center">
                        <span class="ion-information-circled"></span>
                    </div>
                    <div class="text">
                        Oops. You are not listed on my list. I will send you a verification email when submit.
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" id="message_form" data-ng-class="{'has-success': contactForm.message.$valid, 'has-error': contactForm.message.$invalid&amp;&amp;contactForm.message.$dirty}">
            <label for="message" class="col-sm-2 control-label">Message</label>
            <div class="col-sm-5">
                <textarea name="message" id="message" class="form-control" rows="10" data-ng-model="form.message" data-ng-disabled="contactForm.$submitted" required></textarea>
            </div>
        </div>
        <div class="row">
            <div id="status"
                 class="alert col-sm-7"
                 data-ng-if="contactForm.$submitted"
                 data-ng-class="{'alert-success': form.success, 'alert-warning': error.error &lt; 500, 'alert-danger': error.error &gt; 499}">
                <div id="success-message" data-ng-if="form.success">
                    <div class="icon">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                    </div>
                    <div class="text">
                        {{"{"}}{{"{"}}form.success{{"}"}}{{"}"}}
                        <div id="success-devel-message" data-ng-if="form.additional_info">{{"{"}}{{"{"}}form.additional_info | json{{"}"}}{{"}"}}</div>
                    </div>
                </div>
                <div id="failure-message" data-ng-if="error.error">
                    <div class="icon">
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                    <div class="text">
                        <div>
                            Oops! There's {{"{"}}{{"{"}} error.error &gt; 499 ? "critical" : "" {{"}"}}{{"}"}} error. See below
                        </div>
                        <div data-ng-if="error.error &gt; 499">
                            <strong>CAUTION</strong> This is a critical error. So, as far as possible,
                            please report it to <a href="{{issues_tracker}}" target="_blank">Issues Tracker</a>
                        </div>
                        <div class="row" data-ng-repeat="(key, value) in error" data-ng-if="key !== 'error'">
                            <div class="col-sm-4 problem-key">
                                {{"{"}}{{"{"}}key | errorConversion{{"}"}}{{"}"}}
                            </div>
                            <div class="col-sm-8 problem-value">
                                <ul>
                                    <li data-ng-repeat="value_item in value">
                                        {{"{"}}{{"{"}}value_item{{"}"}}{{"}"}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div data-ng-if="error.error &gt; 499">
                            Again, because the error is critical, when you report the problem,
                            please attach below code if possible. <br>
                            Note that <strong>it includes form data you tried to post and
                            the data will be public because this website is open-sourced.</strong>
                            <textarea id="critical-form-code" class="form-control" cols="30" rows="10" readonly>{{"{"}}{{"{"}}{"error": error, "form": form}|json: 2{{"}"}}{{"}"}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group text-right">
            <div class="col-sm-7">
                <button type="reset" class="btn btn-danger" data-ng-disabled="contactForm.$submitted" data-ng-click="clear()">Reset</button>
                <button type="submit" class="btn btn-success" data-ng-disabled="contactForm.$invalid||contactForm.$submitted">Send!</button>
            </div>
        </div>
    </form>
</article>
