<article class="mail-verification text-center">
    <header>
        <h1>Verify your mail</h1>
    </header>
    <p>
        Thanks for contacting me.<br>
        To finish verification, please type the same email address input "Your Email Address" to contact form.
    </p>
    <form name="emailForm" class="form-horizontal" data-ng-submit="send()" novalidate>
        <div id="email-form-group" class="form-group" data-ng-class="{'has-success':emailForm.sender_email.$valid, 'has-error': emailForm.sender_email.$invalid&&emailForm.sender_email.$dirty}">
            <div class="col-sm-offset-2 col-sm-8">
                <input name="sender_email" type="email" class="form-control text-center" required data-ng-model="form.email" data-ng-pattern="/.+\@.+\..+/" data-ng-disabled="emailForm.$submitted">
            </div>
        </div>
        <div class="row" data-ng-if="emailForm.$submitted">
            <div class="col-sm-offset-2 col-sm-8">
                <div id="status" class="alert" data-ng-class="{'alert-success': form.success}">
                    {{"{"}}{{"{"}} form.success {{"}"}}{{"}"}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <button type="send" class="btn btn-success" data-ng-disabled="emailForm.$invalid||emailForm.$submitted">Send!</button>
            </div>
        </div>
    </form>
</article>
