section
  header
    h1 Hiroaki Yamamoto has gone
    p RIP. {{ rip }}
  section
    header
      h3 What's happening?
    p.
      I, Hiroaki Yamamoto, a Japanese Software Engineer have gone for suicide.
      The below text was written when I was alive.
  section
    header
      h3 Why?
    p.
      Well, I started working as a freelance to payback my school loan, and it
      succeeded. This was very fortunate, but in Japan, working as a contractor
      independently is unstable. Unfortunately, I couldn't find the next job.
  section
    header
      h3 The number of companies I applied
    p.
      #[strong Over 3,000 companies]. If you have worked in San Francisco
      or Tokyo, you might see my resume. I wanted to work, but the world
      seems to reject me...
  section
    header
      h2 Posthumous Works
    p.
      For posthumous works, check Github or Gitlab.
      If you'd like to see my resume, check 'Resume (PDF)'.
    app-links
