<section>
  <header>
    <h1>Hiroaki Yamamoto has gone</h1>
    <p>RIP. {{ rip }}</p>
  </header>
  <section>
    <header>
      <h3>What's happening?</h3>
    </header>
    <p>
      I, Hiroaki Yamamoto, a Japanese Software Engineer have gone for suicide.
      The below text was written when I was alive.
    </p>
  </section>
  <section>
    <header>
      <h3>Why?</h3>
    </header>
    <p>
      Well, I started working as a freelance to payback my school loan, and it
      succeeded. This was very fortunate, but in Japan, working as a contractor
      independently is unstable. Unfortunately, I couldn't find the next job.
    </p>
  </section>
  <section>
    <header>
      <h2>Posthumous Works</h2>
    </header>
    <p>
      For my posthumous works, check Github or Gitlab.
    </p>
    <app-links></app-links>
  </section>
</section>
