section
  header
    h2 SNS
  a.withIcon(
    mat-raised-button
    '*ngFor'='let item of snsList'
    '[href]'='item.link' target='_blank'
  )
    | #[i.slg('[ngClass]'='item.icon')] #[br] {{ item.name }}
section
  header
    h2 Misc
  a.withIcon(
    mat-raised-button
    '*ngFor'='let item of misc'
    '[href]'='item.link' target='_blank'
  )
    | #[i.slg('[ngClass]'='item.icon')] #[br] {{ item.name }}
