<section>
  <header><h2>SNS</h2></header>
  <a class="withIcon"
    mat-raised-button
    [href]="item.link"
    target="_blank"
    *ngFor="let item of snsList">
    <div fxLayout="column" fxLayoutAlign="center center">
      <fa-icon [icon]=item.icon size="2x" [fixedWidth]="true"></fa-icon>
      {{ item.name }}
    </div>
  </a>
</section>

<section>
  <header>
    <h2>Misc</h2>
  </header>
  <a class="withIcon"
    mat-raised-button
    [href]="item.link"
    target="_blank"
    *ngFor="let item of misc">
      <div fxLayout="column" fxLayoutAlign="center center">
        <fa-icon [icon]=item.icon size="2x" [fixedWidth]="true"></fa-icon>
        {{ item.name }}
      </div>
  </a>
</section>
