__pycache__
*.pyc
log
*.log
log-*
log_*
node_modules
*.map
*.map.*
.sass-cache
.sassc
.scssc
*.cache
.caches
.DS_Store
*.swp
profile
*~.nib
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata
!xcshareddata
!xcschemes
*.moved-aside
*.xccheckout
*.directory
*.bak
*~
*.kdev4
.kdev4
hysoft.db
vendor
.bundle
.coverage
app/static
app/home/static/third_party.js
app/home/static/third_party.js.map
app/home/static/third_party.css
app/home/static/third_party.css.map
app/home/static/assets.js
app/home/static/assets.js.map
app/home/static/assets.css
app/home/static/assets.css.map
