argon2-cffi
boto
boto3
celery
codeclimate-test-reporter
coverage
coveralls
Django
django-classbasedsettings
django-countries
django-good-otp
django-nghelp
django-recaptcha
django-storages
flake8
flake8-docstrings
Jinja2
Markdown
msgpack-python
psycopg2
Pillow
pip-tools
requests
radon
redis
