celery
coverage
Django
django-classbasedsettings
django-good-otp
django-nghelp
django-recaptcha
django-storages
flake8
flake8-docstrings
github-release-ci
Jinja2
Markdown
Pillow
pip-tools
requests
radon
redis
msgpack-python
