{% extends "base.html" -%}
{% import "feature_card.html" as featureCard -%}
{% block title %}Welcome{% endblock -%}
{% block body -%}
<section class="home" data-ng-controller="homeCtrl">
  <header class="home-header"
    data-layout="column"
    data-layout-align="center start">
    <div class="filter" id="particles-js"></div>
    <div class="title" data-layout="column"
      data-layout-align="center start"
      data-layout-align-xs="center center">
      <h1 data-ng-class="{'active': particlesLoaded}">{{ _n(
        "Freelance software engineer is here",
        "Freelance software engineers are here",
        view.users_info.count()
      ) }}</h1>
      <p data-ng-class="{'active': particlesLoaded}">{{ view.pitch }}</p>
    </div>
  </header>
  <div data-layout="row" data-layout-align="center none">
    <div class="container">
      <section>
        <header class="subheader" data-layout="column" data-layout-align="center center">
          <h1>{{_n("What I do", "What we do", view.users_info | length)}}</h1>
          <p>{{ _n(
            "My work is not only coding.", "Our works are not only coding.",
            view.users_info | length
          ) }}</p>
        </header>
        <div data-layout="row" data-layout-xs="column">
          {% call featureCard.render('<i class="fas fa-terminal"></i>', _("Software Development")) -%}
          <p class="text-center">{{ _n(
            "As you can see this website, I have software development "
            "skills that you need.",
            "As you can see this website, we have software development "
            "skills that you need.", view.users_info | length
          ) }}</p>
          {%- endcall %}
          {% call featureCard.render('<i class="fas fa-globe"></i>', _("Translation")) -%}
          <p class="text-center">{{ _n(
            "In addition to the software development, I localize your apps as needed.",
            "In addition to the software development, we localize your apps as needed.",
            view.users_info | length
          ) }}</p>
          <small>{{ _n(
            "Note: I can only handle translation from English into Japanese at this time.",
            "Note: We can only handle translation from English into Japanese at this time.",
            view.users_info | length
          ) }}</small>
          {%- endcall %}
          {% call featureCard.render('<i class="far fa-comments"></i>', _("Etc etc...")) -%}
          <p class="text-center">{{ _n(
            "Even if your demand is out of my area, I can surely study about it and "
            "I will be able to handle it, or I can give you advice.",

            "Even if your demand is out of our area, we can surely study about it and "
            "we will be able to handle it, or we can give you advice.",

            view.users_info | length
          ) }}</p>
          {%- endcall %}
        </div>
      </section>
      <div data-layout="column" data-layout-align="none center">
        <div data-layout="row" class="container">
          <div data-layout="column" data-layout-align="center center" class="ultra-large banner icon">
            <i class="fas fa-circle-notch"></i>
          </div>
          <div data-flex></div>
          <section>
            <header>
              <h1>{{_n(
                "Why you need me?",
                "Why you need us?",
                view.users_info.count()
              )}}</h1>
            </header>
            <ul>
              <li>
                {{_n(
                  "I can write hight-quality code as you can see",
                  "We can write hight-quality code as you can see",
                  view.users_info.count()
                )}}
                {% if view.users_info.count() > 1 -%}
                  <a href="{{ url('user:about') }}">{{_("Each developer's github")}}</a>
                {% else -%}
                  <a href="https://github.com/{{ view.users_info.first().github }}" target="_blank">
                    {{_("{}'s Github").format(view.users_info[0].first_name)}}
                  </a>
                {%- endif %}
              </li>
              <li>{{_n(
                "I'm usually writing code with following Agile style. This is also known as "
                "'Test/Behavior driven development' that means I write the test to check "
                "whether the code works properly or not before I write the actual code. "
                "By doing this, the number of the bug will be incredibly reduced.",

                "We're usually writing code with following Agile style. This is also known as "
                "'Test/Behavior driven development' that means we write the test to check "
                "whether the code works properly or not before we write the actual code. "
                "By doing this, the number of the bug will be incredibly reduced.",

                view.users_info.count()
              )}}</li>
              <li>
                {{ _n(
                  "In addition to high quality code, I can also write good-translations.",
                  "In addition to high quality code, we can also write good-translations.",
                  view.users_info.count()
                ) }}
              </li>
            </ul>
          </section>
        </div>
        <div data-layout="row" class="container">
          <section>
            <header>
              <h1>{{_n(
                'I <i class="fas fa-heart"></i> Open-Source',
                'We <i class="fas fa-heart"></i> Open-Source',
                view.users_info.count()
              ) | safe}}</h1>
            </header>
            <p>{{_(
              "While many software engineers don't disclose their code, all staff at "
              "hysoft are required to have Github account. It means all the software "
              "engineer at hysoft must have the activities of open source software "
              "development."
            )}}</p>
          </section>
          <div data-flex></div>
          <div data-layout="column" data-layout-align="center center" class="ultra-large banner icon">
            <i class="fab fa-osi"></i>
          </div>
        </div>
        <div data-layout="row" class="container">
          <div data-layout="column" data-layout-align="center center" class="ultra-large banner icon">
            <i class="fab fa-github"></i>
          </div>
          <div data-flex></div>
          <section>
            <header>
              <h1>{{ _("This webapp is open source") }}</h1>
            </header>
            <p>
              {{_("As you can see")}}
              <a href="{{ settings.SOURCE_URL }}" target="_blank">
                {{ _("this page") }}
              </a>{{_(", ")}}
              {{ _("this webapp is open-source and there's nothing that is hidden.") }}
            </p>
            <p>
              <a href="{{ settings.SOURCE_URL }}" target="_blank"
                class="md-raised md-primary"
                data-md-button>
                <i class="fab fa-github"></i>
                {{_("Check out this webapp's code on Github")}}
              </a>
            </p>
          </section>
        </div>
        <div data-layout="row" class="container">
          <section>
            <header>
              <h1>{{_n("Who am I?", "Who are we?", view.users_info.count())}}</h1>
            </header>
            <p>{{_n(
              "For my detail, please visit About page. "
              "You can see what I can handle, what I can write, and my sample code.",
              "For individuals detail, please visit About page. "
              "You can see what we can handle, what we can write, and out sample code.",
              view.users_info.count()
            )}}</p>
            <div data-layout="row" data-layout-align="center none">
              <a href="{{ url('user:about') }}" data-md-button class="md-raised md-primary">
                {{_("Visit About page")}}
              </a>
            </div>
          </section>
          <div data-flex></div>
          <div data-layout="column" data-layout-align="center center" class="ultra-large banner icon">
            <i class="fas fa-users"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="interest" data-layout="column" data-layout-align="center center">
    <header>
      <h1>Interesting?</h1>
    </header>
    <p>{{_n(
      "Let's contact me. I'm looking forward to getting know each other.",
      "Let's contact us. We're looking forward to getting know each other.",
      view.users_info.count()
    )}}</p>
    <a href="{{ url('user:contact') }}" data-md-button class="md-raised md-warn">
      {{_n("Contact me!", "Contact us!", view.users_info.count())}}
    </a>
  </section>
</section>
{% endblock %}
