div.index {
    &.banner {
        position:absolute;
        width: 50%;
        height: 100%;
        background: {
            color: #C8E6C9;
            // image: linear-gradient(to bottom, #81C784, #2E7D32);
        }
    }
}
