@import "../../hysoft/scss/colors";

article.index {
    & {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60%;
        height: 60%;
        min: {
            height: 300px;
        }
        border: {
            color: $titleColor;
            style: solid;
            width: 1px;
            radius: 2px;
        }
        transform: translate(-50%, -50%);
    }
    header {
        h1 {
            font: {size: 3em;}
        }
        h2 {
            font: {size: 1.5em;}
        }
        #header-text {
            position: relative;
            width: 100%;
        }
    }
    #menu-index {
        ul {
            position: relative;
            list: {
                style: {
                    type: none;
                }
            }
            li {
                a {
                    $transitionDuration: 0.5s;
                    transition:
                        background-color $transitionDuration,
                        color $transitionDuration;
                    padding: {
                        left: 0.5em;
                        right: 0.5em;
                    }
                    &:hover, &:active, &:visited, & {
                        text: {
                            decoration: none;
                        }
                    }
                    & {
                        color: $articleParagraphColor;
                    }
                    &:hover {
                        color: $backgroundColor;
                        background: {
                            color: $articleParagraphColor;
                        }
                    }
                }
            }
        }
    }

    @mixin headerAndMenu($height) {
        header {
            & {
                position: relative;
                height: $height;
            }
        }
        #menu-index {
            & {
                height: $height;
            }
            ul {
                width: 100%;
                padding: 0;
            }
        }
    }
    @media (max-width: 991px) {
        @include headerAndMenu(50%);
        #menu-index {
            & {
                text-align: center;
            }
        }
    }
    @media (min-width: 992px) {
        @include headerAndMenu(100%);
    }
}
