<section class="login-page" data-ng-style="loginPageStyle">
  <div class="background"></div>
  <form data-ng-submit="send()" name="loginForm" class="form-horizontal vertical-center" novalidate>
    <legend class="text-center">Login</legend>
    {% for field in form -%}
        {% if "hidden" not in field.widget.field_flags or [] -%}
          <fieldset class="form-group"
            data-ng-class="{'has-error': isDirtyInvalid(loginForm.{{ field.name }})}">
          {{ field.label(class="col-sm-2 control-label") }}
          <div class="col-sm-10">
        {%- endif %}
        {{ field() }}
        {% if "hidden" not in field.widget.field_flags or [] -%}
          </div>
          </fieldset>
        {%- endif %}
    {% endfor %}
    <fieldset class="text-right">
      <button type="submit" class="btn btn-sm"
        data-ng-disabled="loginForm.$invalid">Submit</button>
    </fieldset>
  </form>
</section>
