packages:
  yum:
    postgresql95-devel: []
    libffi-devel: []
    libjpeg-turbo-devel: []
    libcurl-devel: []

users:
  celery:
    uid: 1024

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_FACTORY: "app.settings.public.PublicConfig"
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "staticfiles/"
  aws:elasticbeanstalk:container:python:
    NumProcesses: 2
    NumThreads: 20
    WSGIPath: app/wsgi.py

container_commands:
  collectstatic:
    command: "python manage.py collectstatic --noinput"
  02_migrate:
    command: "python manage.py migrate"
    leader_only: true
  99_celery:
    command: "celery worker -D -B -s /tmp/celerybeat-schedule --uid 1024 --pidfile /tmp/celeryd.pid -A app"
