packages:
  yum:
    postgresql95-devel: []
    libffi-devel: []
    libjpeg-turbo-devel: []
    libcurl-devel: []
    mod24_ssl: []

files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule wsgi_module modules/mod_wsgi.so
      WSGIPythonHome /opt/python/run/baselinenv
      WSGISocketPrefix run/wsgi
      WSGIRestrictEmbedded On
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443
      <VirtualHost *:443>
        <Proxy *>
          Order deny,allow
          Allow from all
        </Proxy>

        SSLEngine             on
        SSLCertificateChainFile "/opt/ssl/server.ca-bundle"
        SSLCertificateFile    "/opt/ssl/server.crt"
        SSLCertificateKeyFile "/opt/ssl/server.key"

        Alias /static/ /opt/python/current/app/staticfiles/
        <Directory /opt/python/current/app/staticfiles>
          Order allow,deny
          Allow from all
        </Directory>
        WSGIScriptAlias / /opt/python/current/app/app/wsgi.py
        <Directory /opt/python/current/app>
          Require all granted
        </Directory>
        WSGIDaemonProcess wsgi-ssl processes=2 threads=20 display-name=%{GROUP} \
          python-path=/opt/python/current/app/app:/opt/python/run/venv/lib/python3.4/site-packages:/opt/python/run/venv/lib64/python3.4/site-packages \
          home=/opt/python/current/app \
          user=wsgi \
          group=wsgi
        WSGIProcessGroup wsgi-ssl
      </VirtualHost>

users:
  celery:
    uid: 1024

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_FACTORY: "app.settings.public.PublicConfig"
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "staticfiles/"
  aws:elasticbeanstalk:container:python:
    NumProcesses: 2
    NumThreads: 20
    WSGIPath: app/wsgi.py

commands:
  00_copy_ssl:
    command: "aws s3 cp -r s3://hysoft-ssl-certs/ssl /opt/ssl"

container_commands:
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
  03_migrate:
    command: "python manage.py migrate"
    leader_only: true
  99_celery:
    command: "celery worker -D -B -s /tmp/celerybeat-schedule --uid 1024 --pidfile /proc/celeryd.pid -A app"
