packages:
  rpm:
    pgdg-centos96: "https://download.postgresql.org/pub/repos/yum/9.6/redhat/rhel-6-x86_64/pgdg-centos96-9.6-3.noarch.rpm"
  yum:
    postgresql96: []

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_FACTORY: "app.settings.public.PublicConfig"
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "staticfiles/"
  aws:elasticbeanstalk:container:python:
    NumProcesses: 2
    NumThreads: 20
    WSGIPath: app/wsgi.py

container_commands:
  collectstatic:
    command: "python manage.py collectstatic --noinput"
  01_syncdb:
    command: "python manage.py syncdb --noinput"
    leader_only: true
  02_migrate:
    command: "python manage.py migrate"
    leader_only: true
  99_celery:
    command: "celery worker -D -A app -B"
