files:
  "/etc/cron.d/backup":
    mode: "000644"
    owner: root
    group: root
    content: |
      00 0 * * * root run-parts /opt/cron/backup
  "/otp/cron/backup":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh -e
      . /opt/python/current/env
      . /opt/python/run/venv/bin/activate
      backupPath=/tmp/db-$(date -Iseconds).json
      python /opt/python/current/app/manage.py \
        dumpdata -o ${backupPath} --format json
      deactivate
      aws s3 cp ${backupPath} s3://hysoft-dump
      rm ${backupPath}
commands:
  01_remove_old_cron:
    command: "rm -f /etc/cron.d/*.bak"
  02_make_init_backup:
    command: "/otp/cron/backup"
