.github-avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.social-links {
  font: {
    size: 1.5rem;
  }
  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
}
.member-row {
  margin: {
    bottom: 1rem;
    top: 1rem;
  }
}
.member-card {
  cursor: pointer;
  transition: box-shadow 250ms;
  padding: 1rem;
  margin: 1rem;
  border-radius: 3px;
}

.availability-section {
  margin: 1rem 0;
}

.member {
  .status {
    $transition_duration: 250ms;
    display: inline-block;
    padding: 0 0.5rem;
    font-weight: 500;
    border-radius: 4px;
    text-decoration: none;
    transition:
      color $transition_duration,
      background-color $transition_duration;
    &.free_full {
      $color: #558B2F;
      color: $color;
      border: 1px solid $color;
      &:hover {
        background-color: $color;
        color: #fafafb;
      }
    }
    &.free_part {
      $color: #FF6F00;
      color: $color;
      border: 1px solid $color;
      &:hover {
        background-color: $color;
        color: #fafafb;
      }
    }
    &.busy {
      $color: #d50000;
      color: $color;
      border: 1px solid $color;
    }
  }
}
.coding-lang {
  h3 {
    padding: 1rem 0;
  }
}
.fwcard {
  padding: 1rem;
  cursor: pointer;
  transition: box-shadow 250ms;
  border-radius: 3px;
  margin: 0 5px;
}
.framework-header {
  border-bottom: none !important;
  .framework-icon {
    font-size: 2rem;
  }
}
