{%- import "regulation_tab.html" as regulation_tab -%}
<article class="about legal">
  <header class="jumbotron page-title text-center">
    <div class="background"></div>
    <h2>Notation Based on Legal Responsibility</h2>
  </header>
  <section class="content">
    <header>
      <h2>Notation based on Legal Responsibility</h2>
    </header>
    <p>
      The followings are the notation based on legal responsibility in Japan.
    </p>
    {{ regulation_tab.tab(regulations) }}
  </section>
</article>
