<div class="regulation-tab">
  <ul class="nav nav-tabs" role="tablist">
    {% for (id, title, template, active) in regulations -%}
    <li role="presentation"{% if active -%} class="active"{%- endif %}>
      <a href="javascript:void(0)"
        data-target="#{{ id }}" aria-controls="{{ id }}" role="tab"
        data-toggle="tab">{{ title }}</a>
    </li>
    {%- endfor %}
  </ul>
  <div class="tab-content">
    {% for (id, title, template, active) in regulations -%}
    <div id="{{ id }}" role="tabpanel"
      class="tab-pane fade{% if active %} in active{% endif %}">
      {% include template %}
    </div>
    {%- endfor %}
  </div>
</div>
