<p>
  The below table is Notation based on the Specified Commercial Transaction Act.
</p>
<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Seller</td>
      <td>Hiroaki Yamamoto</td>
    </tr>
    <tr>
      <td>Formation Type</td>
      <td>Sole Proprietor</td>
    </tr>
    <tr>
      <td>Location</td>
      <td>
        Nara City, Nara Pref, Japan<br>
        (Because the location is Hiro's personal house, please contact us for details.)
      </td>
    </tr>
    <tr>
      <td>Phone Number</td>
      <td>
        Phone Number is not provided to receive the call actually needed.<br>
        Please use Contact form.
      </td>
    </tr>
    <tr>
      <td>Email</td>
      <td>
        Email Address is not provided to receive emails actually needed.<br>
        Please use Contact form.
      </td>
    </tr>
    <tr>
      <td>Sale Prices</td>
      <td>
        It is different by the projects, but generally, USD 3500$/mo to USD 7200$/mo.<br>
        However, it might be lower or higher than the examples. Please contact us for details.
      </td>
    </tr>
    <tr>
      <td>Prices that buyer needs to prepare, other than sale prices</td>
      <td>
        <ul>
          <li>
            Prices to contract and/or manage any
            <a href="https://aws.amazon.com/" target="_blank">clouds</a>
            for the projects.<br>
            It depends on the projects.
          </li>
          <li>
            Fees based on
            <a href="https://www.upwork.com/" target="_blank">
              Vendor Management System
            </a> if you want "safety-net" for contract <br>
            It depends on the projects.
          </li>
          <li>
            Other fees that indicated on Quotes and Invoices. <br>
            It depends on the projects.
          </li>
          <li>Purchase tax (However this is included in Sale Prices).</li>
          <li>Bank Transaction Fees</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Payment Method</td>
      <td>
        <ul>
          <li>
            Any methods that are provided by
            <a href="https://www.upwork.com/" target="_blank">
              Vendor Management System
            </a>
          </li>
          <li>Paypal</li>
          <li>Bank Transfer</li>
          <li>Other payment methods indicated on Quotes and Invoices</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Delivery timing</td>
      <td>The same date at Invoice date.</td>
    </tr>
    <tr>
      <td>Payment timing</td>
      <td>
        <ul>
          <li>
            If the project is using
            <a href="https://www.upwork.com/" target="_blank">
              Vendor Management System
            </a>,
            the timing is based on the system.
          </li>
          <li>
            If the project is NOT using
            <a href="https://www.upwork.com/" target="_blank">
              Vendor Management System
            </a>,
            the time is within 14 days since Invoice date. However, please
            review the invoice for due-date. It minght be set earlier or later.
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Returns or Replacements</td>
      <td>Due to the feature of the services, we don't accept any returns or replacements.</td>
    </tr>
    <tr>
      <td>Limitation on sales quantity</td>
      <td>For the feature of the services, there's no limitation.</td>
    </tr>
    <tr>
      <td>Expiry of Offer</td>
      <td>2 weeks since the quote is sent. After that, you will need to re-quote the project.</td>
    </tr>
    <tr>
      <td>Warranty</td>
      <td>
        If you found bugs, please let us know within 7 days since the product
        is delivered.<br> We will handle them in our responsibilities.
        However, after 7 days since the product is delivered, you will need to
        re-contract / re-hire.
      </td>
    </tr>
    <tr>
      <td>Disclaimer</td>
      <td>We can't refund the amount greater than we invoiced.</td>
    </tr>
    <tr>
      <td>System Requirements</td>
      <td>
        <ul>
          <li>
            The required system for the server is described on README.md in the
            source repository.
          </li>
          <li>We are using Chrome for web-app testing.</li>
          <li>
            If the app is not web-based, the required system is described on
            README.md in the source repository
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
