<article class="about team">
  <header class="jumbotron page-title text-center">
    <div class="background"></div>
    <h2>About</h2>
  </header>
  <section class="content">
    <header>
      <h3>What This?</h3>
    </header>
    <p>
      This website is the frontpage of hysoftware.net, that is operated as a
      part of Hiroaki's sole proprietorship. Hiro is working as a freelance
      software developer and hysoft is "Yagoh" in Japan.
    </p>
    <p>
      Currently, hysoft is NOT a company. However, if the business get
      well-grown, Hiro will change the formation.
    </p>
  </section>
  <section class="content">
    <header>
      <h3>About team</h3>
    </header>
    {% include "members.html" -%}
  </section>
</article>
