{%
  set transparentMenuEnabled =
    "true" if getattr(view, 'enable_transparent_menu', True) else "false"
-%}
{%
  set menu = [
    {
        "name": _("About"),
        "url": url("user:about"),
        "icon_class": "material-icons",
        "icon_body": "help"
    }, {
        "name": _("Contact"),
        "url": url("user:contact"),
        "icon_class": "material-icons",
        "icon_body": "email"
    }, {
      "name": _("Github of this webapp"),
      "url": "https://github.com/hysoftware/hysoftware.net",
      "icon_class": "fab fa-github",
      "show_icon_on_header": True,
      "target": "_blank"
    }
  ]
-%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
  <meta name="Keywords" content="hysoftware,agile,development,software">
  <meta name="Description" content="Agile software development Professional">
  <meta property="og:type" content="website">
  <meta property="og:title" content="hysoftware">
  <meta property="og:image" content="https://avatars2.githubusercontent.com/u/11012469?v=3&amp;s=280">
  <meta property="og:url" content="https://hysoftware.net">
  <meta property="og:description" content="{{view.description or _('A frontend page for hysoftware.net') -}}">

  <title>{% block title %}{% endblock %} - {{ settings.TITLE }}</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{{ static('third_party.css') }}">
  <link href="{{ url('common:css') }}" rel="stylesheet">
  {% if static_exists(resolve(request.path_info).app_name + ".css") -%}
  <link href="{{ static(resolve(request.path_info).app_name + ".css") }}" rel="stylesheet">
  {%- endif %}
  {% if url_exists(resolve(request.path_info).app_name + ":css") -%}
  <link href="{{ url(resolve(request.path_info).app_name + ":css") }}" rel="stylesheet">
  {%- endif %}
  {% block style_header %}{% endblock -%}
  <script src="{{ static('third_party.js') }}" charset="utf-8" defer></script>
  <script src="{{ url('common:js') }}" defer></script>
  {% if static_exists(resolve(request.path_info).app_name + '.js') -%}
  <script src="{{ static(resolve(request.path_info).app_name + '.js') }}" defer></script>
  {% set ind_module_exists = True -%}
  {%- endif %}
  {% if url_exists(resolve(request.path_info).app_name + ":js") -%}
  <script src="{{ url(resolve(request.path_info).app_name + ':js') }}" defer></script>
  {% set ind_module_exists = True -%}
  {%- endif %}
  {% include('analytics.html') -%}
  {% block script_header %}{% endblock -%}
</head>
<body data-ng-cloak
  data-ng-app="{{ view.ng_app or 'common' }}">
  <nav class="main-nav" data-ng-controller="navBarCtrl"
    data-ng-init="enableTransparentMenu = {{ transparentMenuEnabled }}"
    data-ng-class="navBarCls" data-hide-xs data-hide-sm data-layout="row"
    data-layout="column" data-layout-align="none center">
    <a class="brand" href="{{ url('home:index') }}">{{ settings.TITLE }}</a>
    {% for menu_item in menu -%}
    <a href="{{ menu_item.url -}}"
      {%- if menu_item.target %}target="{{ menu_item.target }}"{% endif -%}>
      {%- if menu_item.show_icon_on_header -%}
      <i class="{{ menu_item.icon_class -}}">
        {{- menu_item.icon_body or "" -}}
      </i>
      {%- endif %}
      {{- menu_item.name -}}
    </a>
    {%- endfor %}
  </nav>
  {% block body %}{%endblock -%}
  <md-fab-speed-dial class="md-scale" data-md-direction="up" data-hide-gt-sm>
    <md-fab-trigger>
      <button data-md-button class="md-fab md-primary">
        <md-icon class="material-icons">menu</md-icon>
      </button>
    </md-fab-trigger>
    <md-fab-actions>
      <a href="{{ url('home:index') }}" data-md-button class="md-fab md-raised md-mini">
        <md-tooltip data-md-direction="left">{{ _("home") }}</md-tooltip>
        <md-icon class="material-icons">home</md-icon>
      </a>
      {% for menu_item in menu -%}
      <a href="{{ menu_item.url }}" data-md-button class="md-fab md-raised md-mini"
        {% if menu_item.target %}target="{{ menu_item.target }}"{% endif %}
        aria-label="{{ menu_item.name }}">
        <md-tooltip data-md-direction="left">{{ menu_item.name }}</md-tooltip>
        <md-icon class="{{ menu_item.icon_class }}">{{ menu_item.icon_body or ""}}</md-icon>
      </a>
      {%- endfor %}
    </md-fab-actions>
  </md-fab-speed-dial>
  <footer>
    <section class="mit">
      <h1>{{_("The MIT License (MIT)")}}</h1>
      <p>Copyright (c) 2016- {{ settings.TITLE }} (Owner: Hiroaki Yamamoto)</p>
      <p>{{_("
        Permission is hereby granted, free of charge, to any person obtaining a
        copy of this software and associated documentation files
        (the \"Software\"), to deal in the Software without restriction, including
        without limitation the rights to use, copy, modify, merge, publish,
        distribute, sublicense, and/or sell copies of the Software, and to permit
        persons to whom the Software is furnished to do so, subject to the
        following conditions:
      ")}}</p>
      <p>{{_("
        The above copyright notice and this permission notice shall be included
        in all copies or substantial portions of the Software.
      ")}}</p>
      <p>{{_("
        THE SOFTWARE IS PROVIDED \"AS IS\", WITHOUT WARRANTY OF ANY KIND, EXPRESS
        OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
        MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
        IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
        CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
        TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
        SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
      ")}}</p>
    </section>
    <section class="exception">
      <h2>{{_("The Exception of Copyrights and Licenses")}}</h1>
      <p>
        The code of this website is licensed under the terms of MIT License.
        However, some assets, including code, might be licensed with a non-free
        use license. In that case, the decision of the treatments for the copyright
        of the third party's assets, and the license of the third party's assets
        depend on their licenses. However, the area of the exception is only
        the points that the third party assets are used. For details, please
        visit legal page.
      </p>
    </section>
    <p class="legal-link nospace">
      {%
        set externalLinks = [
          { 'url': 'https://fontawesome.com/', 'title': 'Font Awesome' },
        ]
      -%}
      {% for item in externalLinks -%}
      <small><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></small>
      {%- endfor %}
      <small><a href="{{ url('legal:index') }}">{{_("Legal")}}</a></small>
    </p>
  </footer>
</body>
</html>
