{%
  set transparentMenuEnabled =
    "true" if getattr(view, 'enable_transparent_menu', True) else "false"
-%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %} - {{ settings.TITLE }}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,500">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{{ static('third_party/angular/angular-csp.css') }}">
  <link rel="stylesheet" href="{{ static('third_party/angular-material/angular-material.min.css') }}">
  <link href="{{ url('common:css') }}" rel="stylesheet">
  {% if static_exists(resolve(request.path_info).app_name + ".css") -%}
  <link href="{{ static(resolve(request.path_info).app_name + ".css") }}" rel="stylesheet">
  {%- endif %}
  {% if url_exists(resolve(request.path_info).app_name + ":css") -%}
  <link href="{{ url(resolve(request.path_info).app_name + ":css") }}" rel="stylesheet">
  {%- endif %}
  {% block style_header %}{% endblock -%}
  <script src="{{ static('third_party.js') }}" charset="utf-8"></script>
  <script src="{{ url('common:js') }}"></script>
  {% if static_exists(resolve(request.path_info).app_name + '.js') -%}
  <script src="{{ static(resolve(request.path_info).app_name + '.js') }}"></script>
  {%- endif %}
  {% if url_exists(resolve(request.path_info).app_name + ":js") -%}
  <script src="{{ url(resolve(request.path_info).app_name + ':js') }}"></script>
  {%- endif %}
  {% block script_header %}{% endblock %}
</head>
<body data-ng-app="{{ resolve(request.path_info).app_name }}">
  <nav class="main-nav" data-ng-controller="navBarCtrl"
    data-ng-init="enableTransparentMenu = {{ transparentMenuEnabled }}"
    data-ng-class="navBarCls" data-layout="row">
    <ul>
      <li><a href="#">Test</a></li>
      <li><a href="#">Test2</a></li>
    </ul>
    <div class="sep" data-flex></div>
    test
  </nav>
  {% block body %}{%endblock -%}
  <md-fab-speed-dial class="md-scale" data-md-direction="up" data-hide-gt-sm>
    <md-fab-trigger>
      <button data-md-button class="md-fab md-primary">
        <md-icon class="material-icons">menu</md-icon>
      </button>
    </md-fab-trigger>
    <md-fab-actions>
      <button data-md-button class="md-fab md-raised md-mini">
        <md-icon class="material-icons">help</md-icon>
      </button>
    </md-fab-actions>
  </md-fab-speed-dial>
  <footer>
    <h1>{{_("The MIT License (MIT)")}}</h1>
    <p>Copyright (c) 2016- hysoft (Owner: Hiroaki Yamamoto)</p>
    <p>{{_("
      Permission is hereby granted, free of charge, to any person obtaining a
      copy of this software and associated documentation files
      (the \"Software\"), to deal in the Software without restriction, including
      without limitation the rights to use, copy, modify, merge, publish,
      distribute, sublicense, and/or sell copies of the Software, and to permit
      persons to whom the Software is furnished to do so, subject to the
      following conditions:
    ")}}</p>
    <p>{{_("
      The above copyright notice and this permission notice shall be included
      in all copies or substantial portions of the Software.
    ")}}</p>
    <p>{{_("
      THE SOFTWARE IS PROVIDED \"AS IS\", WITHOUT WARRANTY OF ANY KIND, EXPRESS
      OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
      MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
      IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
      CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
      TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
      SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
    ")}}</p>
    <p class="text-right"><small><a href="#">{{_("Legal")}}</a></small></p>
  </footer>
</body>
</html>
