<md-dialog aria-label="{% block title %}{% endblock %}">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{ self.title() }}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    {% block body %}{% endblock -%}
  </md-dialog-content>
  <md-dialog-actions>
    {% block footer %}{% endblock -%}
  </md-dialog-actions>
</md-dialog>
