<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
  <title>{% block title %}{% endblock -%}</title>
  <style>
    * {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400
    }
    blockquote {
      border-left: 0.25rem solid #BDBDBE;
      color: #616161;
    }
  </style>
  {% block header %}{% endblock -%}
</head>
<body>
  {% block body -%}
  {% endblock %}
</body>
</html>
