{% macro home(tagline) %}
<section class="jumbotron main-title" data-ng-style="titleStyle">
  <div class="background"></div>
  <header class="vertical-center text-center">
    <h1 class="title-content">HYSOFT</h1>
    <p>{{ tagline }}</p>
  </header>
  <div class="bottom text-center">
    <span class="ion-ios-arrow-down"></span>
  </div>
</section>
<section class="text-center subtitles">
  <h2>Code, Design, and Contribute for You And Your Company</h2>
  <div class="ion-ios-flame eyecatch"></div>
  <p>
    Are you looking for a nice coder? <br>
    You've reached almost there. Hiro is a software engineer who has good
    coding skills.<br>
    He makes clear and readable code for you.
  </p>
</section>
<section class="text-center subtitles">
  <h2>Transparency of Code</h2>
  <div class="ion-cube eyecatch"></div>
  <p>
    To check the qualities of the code, generally you can work with coders. <br>
    However, you will need to pay for it. <br>
    While this "weird situation", Hiroaki is working on Open-source software
    development as a volunteer not only business/proprietary software.
  </p>
  <p>As a proof...</p>
</section>
<section class="text-center subtitles">
  <h2>
      This website is
      <a href="https://github.com/hysoftware/hysoftware.net" target="_blank">
        open-sourced
      </a>!
  </h2>
  <div class="row">
    <div class="col-sm-offset-3 col-sm-2">
      <span class="ion-social-python eyecatch"></span>
    </div>
    <div class="col-sm-2">
      <span class="ion-social-html5 eyecatch"></span>
    </div>
    <div class="col-sm-2">
      <span class="ion-social-javascript eyecatch"></span>
    </div>
  </div>
  <p>
    You can review the quality of Hiro's code and this website. <br>
    Technically, Python 3.x, Coffeescript and Less are used for this websote.<br>
    For details, review
    <a href="https://github.com/hysoftware/hysoftware.net" target="_blank">
      the repo
    </a>.
  </p>
</section>
<section class="text-center subtitles">
  <h2>Process</h2>
  <section>
    <h3>First step: test</h3>
    <div class="ion-android-checkbox-outline eyecatch"></div>
    <p>
      Estimating the delivery date on software industries is difficult.<br />
      However, it is able to be estimated by spliting the software by modules,
      functionalities, tasks, etc...<br>
      After split, It needs to code a software to check whether the function
      works or not. <br>
      In addition, this process can be handled before coding actual
      apps as far as possible.<br>
      This is one of the feature of Agile Development and it is called TDD or
      BDD. <br> By doing above, the written tests ensure that the code works
      even if the code is heavily-changed.
    </p>
  </section>
  <section>
    <h3>Second step: code</h3>
    <div class="ion-ios-bolt eyecatch"></div>
    <p>
      This is the most exciting part of coding. <br>
      Coders are feeling all-seeing and all-knowing while they are coding.<br>
      After the coding is finished, the goal of task is almost there!
    </p>
  </section>
  <section>
    <h3>Final step: refactor</h3>
    <div class="ion-thumbsup eyecatch"></div>
    <p>
      The finished code is dirty, un-maintainable, but it just works. <br>
      This is why the code is written for passing tests, not for humans. <br>
      The code should be written for humans, therefore re-styling the code
      is needed.<br>
      This is just re-styling the code, and the behavior is not changed and
      it is guranteed by unit tests.<br>
    </p>
    <p><strong>After the refactoring, the task is finished!</strong></p>
  </section>
  <p>
    By repeating above steps, Hiro can code what your/your company's want.
  </p>
</section>
<section class="text-center subtitles">
  <h2>Tell us about you...</h2>
  [Contactform]
</section>
{% endmacro %}

{{ home(tagline) }}
