{%- import "navbar.html" as navbar -%}
{%- import "home.html" as home -%}
<!DOCTYPE html>
<html lang="en" data-ng-app="hysoft">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
  <meta name="Keywords" content="hysoftware,agile,development,software">
  <meta name="Description" content="Agile software development Professional">
  <meta property="og:type" content="website">
  <meta property="og:title" content="hysoftware">
  <meta property="og:image" content="https://avatars2.githubusercontent.com/u/11012469?v=3&amp;s=280">
  <meta property="og:url" content="https://hysoftware.net">
  <meta property="og:description" content="{{ tagline }}">
  <link rel="stylesheet"
    href="{{ url_for('static', filename='bootstrap/dist/css/bootstrap.min.css') }}"
    media="screen" title="Bootstrap" charset="utf-8">
  {% if config.DEBUG -%}
  <link rel="stylesheet" href="{{ url_for('static', filename='fonts/opensans/fontface.css') }}">
  {% else %}
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  {%- endif %}
  <link rel="stylesheet" href="{{ url_for('static', filename='Ionicons/css/ionicons.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('.static', filename='assets.css') }}">
  <script src="{{ url_for('static', filename='third_party.js') }}"></script>
  <script src="{{ url_for('.static', filename='assets.js') }}"></script>
  <script type="text/ng-template" id="/home">
    {{- minify(home.home(tagline)) | safe -}}
  </script>
  <title>HYSOFT</title>
</head>
<body>
  {{ navbar.header() }}
  <div class="main ui-view"></div>
</body>
</html>
