{%- import "navbar.html" as navbar -%}
{%- import "home.html" as home -%}
<!DOCTYPE html>
<html lang="en" data-ng-app="hysoft">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
  <meta name="Keywords" content="hysoftware,agile,development,software">
  <meta name="Description" content="Agile software development Professional">
  <meta property="og:type" content="website">
  <meta property="og:title" content="hysoftware">
  <meta property="og:image" content="https://avatars2.githubusercontent.com/u/11012469?v=3&amp;s=280">
  <meta property="og:url" content="https://hysoftware.net">
  <meta property="og:description" content="{{ tagline }}">
  <link rel="stylesheet"
    href="{{ url_for('static', filename='bootstrap/dist/css/bootstrap.min.css') }}"
    media="screen" title="Bootstrap">
  {% if config.DEBUG -%}
  <link rel="stylesheet" href="{{ url_for('fonts.OpenSansView:index') }}">
  {% else %}
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  {%- endif %}
  <link rel="stylesheet" href="{{ url_for('static', filename='AngularJS-Toaster/toaster.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='Ionicons/css/ionicons.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('.static', filename='assets.css') }}">
  <script src="{{ url_for('static', filename='third_party.js') }}"></script>
  <script src="{{ url_for('.static', filename='assets.js') }}"></script>
  <script type="text/ng-template" id="/home">
    {{- minify(home.home(tagline)) | safe -}}
  </script>
  <title>HYSOFT</title>
</head>
<body data-ng-cloak>
  {{ navbar.header(current_user) }}
  <div data-toaster-container></div>
  <div class="ui-view" data-autoscroll="true"></div>
  <footer>
    <h1>The license of this website: The MIT License (MIT)</h1>

    <p>Copyright (c) 2015- Hiroaki Yamamoto</p>

    <p>
    Permission is hereby granted, free of charge, to any person obtaining a
    copy of this software and associated documentation files (the "Software"),
    to deal in the Software without restriction, including without limitation
    the rights to use, copy, modify, merge, publish, distribute, sublicense,
    and/or sell copies of the Software, and to permit persons to whom the
    Software is furnished to do so, subject to the following conditions:
    The above copyright notice and this permission notice shall be included in
    all copies or substantial portions of the Software.
    </p>

    <p>
      THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
      OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
      MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
      IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
      CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
      TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
      SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
    </p>

    <p class="text-right"><small>
      <a href="javascript:void(0)" data-ui-sref="about_legal">
        Notation Based on Legal Responsibility in Japan
      </a>
    </small></p>
  </footer>
</body>
</html>
