<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Keywords" content="hysoftware,agile,development,software">
  <meta name="Description" content="Agile software development Professional">
  <meta property="og:type" content="website">
  <meta property="og:title" content="hysoftware">
  <meta property="og:image" content="https://avatars2.githubusercontent.com/u/11012469?v=3&amp;s=280">
  <meta property="og:url" content="https://hysoftware.net">
  <meta property="og:description" content="{{ tagline }}">
  <link rel="stylesheet"
    href="{{ url_for('.static', filename='bootstrap/dist/css/bootstrap.min.css') }}"
    media="screen" title="Bootstrap" charset="utf-8">
  <script src="{{ url_for('.static', filename='third_party.js') }}"></script>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <title>HYSOFT</title>
</head>
<body>
  <h1>It's Working</h1>
</body>
</html>
