{% macro header(current_user) -%}
<nav class="navbar navbar-default navbar-fixed-top main-menu"
  data-ng-controller="navbarController"
  data-ng-class="navbarClass">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
      data-target="#main-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">HYSOFT</a>
  </div>
  <div id="main-menu" class="collapse navbar-collapse navbar-content">
    <ul class="nav navbar-nav">
      <li><a href="javascript:void(0)" data-ui-sref="about">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right container-fluid">
      <li data-ng-if="!userStatus.email">
        <a href="javascript:void(0)" data-ui-sref="login">Login</a>
      </li>
      <li class="dropdown" data-ng-if="userStatus.email">
        <a href="javascript:void(0)" class="dropdown-toggle"
          data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false">
          {{'{{userStatus.firstname}} {{userStatus.lastname}}'}}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            {% if current_user.is_authenticated and "admin" in current_user.role -%}
            <a href="{{ url_for('admin.index') }}">Manager</a>
            {%- endif %}
            <a href="javascript:void(0)" data-ng-click="logout()">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{%- endmacro %}
