{% macro header() -%}
<nav class="navbar navbar-default navbar-fixed-top main-menu"
  data-ng-controller="navbarController"
  data-ng-class="navbarClass">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
      data-target="#main-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">HYSOFT</a>
  </div>
  <div class="navbar-content container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="javascript:void(0)" data-ui-sref="login">Login</a></li>
    </ul>
  </div>
</nav>
{%- endmacro %}
