<section class="contact">
  <header class="jumbotron page-title text-center">
    <div class="background"></div>
    <h2>Contact</h2>
  </header>
  <form id="contactForm" class="form-horizontal contact" name="contactForm"
    data-ng-submit="sendContact()" novalidate>
    {% for field in form -%}
        {% if "hidden" not in (field.widget.field_flags or []) -%}
          <fieldset class="form-group"
            data-ng-class="{'has-error': isDirtyInvalid(contactForm.{{ field.name }})}">
          {% if field.name != "recaptcha" -%}
            {{ field.label(class="col-sm-3 control-label") }}
          {%- endif %}
          <div class="col-sm-9 {% if field.name == "recaptcha" %}col-sm-offset-3{% endif %}">
        {%- endif %}
        {{ field() }}
        {% if "hidden" not in field.widget.field_flags or [] -%}
          </div>
          </fieldset>
        {%- endif %}
    {% endfor %}
    <div class="alert alert-success"
      data-ng-if="contactForm.$submitted &amp;&amp; contactSuccess">
      <span class="glyphicon glyphicon-thumbs-up"></span>
      <strong>Great!</strong> Your message has been sent.
      <p>{{"{{sendPromise}}"}}</p>
    </div>
    <div class="alert text-left" data-ng-if="contactErrors"
      data-ng-class="{'alert-danger': contactErrors.status > 499, 'alert-warning': contactErrors.status < 500}">
        <h3>Oh Snap!</h3>
        <div data-ng-if="angular.isObject(contactErrors.data)">
          <p>The following error(s) occured</p>
          <div data-ng-repeat="(field, messages) in contactErrors.data" class="subarea">
            <h4>{{"{{ field }}"}}</h4>
            <ul>
              <li data-ng-repeat="msg in messages">{{"{{msg}}"}}</li>
            </ul>
          </div>
        </div>
        <p data-ng-if="!angular.isObject(contactErrors.data) &amp;&amp; contactErrors.status > 499">
          Oops!! Perhaps it seems to be serverside errror. Please contact Hiro.
        </p>
    </div>
    <div class="text-right">
      <button type="submit" class="btn btn-success btn-lg"
        data-ng-disabled="contactForm.$invalid || contactForm.$submitted || contactForm.$pristine">
          Send
      </button>
    </div>
  </form>
</section>
