{% extends "base.html" -%}
{% set users_info_count = view.users_info.count() -%}
{% block title %}{{ _("About") }}{% endblock -%}
{% block body -%}
<section class="about">
  <header class="text-center header-about">
    <h1 class="vcenter">{{ _("About") }}</h1>
  </header>
  <section class="container-large">
    <header>
      <h2>{{_("What this website?")}}</h2>
    </header>
    <p>{{_n(
      "This website is a front page of hysoft and it shows proof of my "
      "technical skills, advantages, and/or disadvantages. If you'd like to"
      "hire me, the source code of this website would be useful to check my "
      "skills.",
      "This website is a front page of hysoft and it shows proof of our "
      "technical skills, advantages, and/or disadvantages. If you'd like to"
      "send us jobs, the source code of this website would be useful to check "
      "our skills.", users_info_count
    )}}</p>
    <section>
      <header>
        <h3>{{_("What hysoft?")}}</h3>
      </header>
      <p>
        {{_n(
          "hysoft is a sole proprietorship founded by Hiroaki Yamamoto, a "
          "software engineer in Japan. the team is just only one person, but "
          "if it grows big, I will consider corporate somewhere in the world.",
          "hysoft is a sole proprietorship founded by Hiroaki Yamamoto, a "
          "software engineer in Japan. the team is small team, but "
          "if it grows big, we will consider corporate somewhere in the "
          "world.", users_info_count
        )}}
      </p>
    </section>
  </section>
  <section class="text-center">
    <header>
      <h2>{{ _n("Who am I?", "Who are we?", users_info_count) }}</h2>
    </header>
    <div data-layout="column">
    </div>
  </section>
</section>
{% endblock %}
