{% extends "dialog_base.html" -%}
{% set full_name =  _("{0} {1}").format(
  view.user_info.user.first_name,
  view.user_info.user.last_name
) -%}
{% import "socials.html" as socials -%}
{% block title -%}
{{ full_name }}
{%- endblock %}
{% block body -%}
<section class="member md-dialog-content">
  <header>
    <h2>{{ full_name }}</h2>
    <p>{{ view.user_info.title }}</p>
  </header>
  <div class="social-links">
    {{ socials.render(view.user_info) }}
  </div>
  <div class="availability-section">
    <div class="status {{ view.user_info.availability }}">
      {{ view.user_info.availability_choices[view.user_info.availability] }}
    </div>
  </div>
  {% if view.user_info.github_profile.bio -%}
  <section class="bio">
    <header>
      <h3>Biography</h3>
    </header>
    <p>{{ view.user_info.github_profile.bio }}</p>
  </section>
  {%- endif %}
</section>
{%- endblock %}
