{% extends "dialog_base.html" -%}
{% set full_name =  _("{0} {1}").format(
  view.user_info.first_name,
  view.user_info.last_name
) -%}
{% set avail_map = {
  "free_full": _("Available for Full Time Jobs"),
  "free_part": _("Available for Part Time Jobs"),
  "busy": _("Busy"),
} %}
{% import "socials.html" as socials -%}
{% block title -%}
{{ full_name }}
{%- endblock %}
{% block body -%}
<section class="member md-dialog-content" data-ng-controller="staffCtrl">
  <header>
    <h2>{{ full_name }}</h2>
    <p>{{ view.user_info.title }}</p>
  </header>
  <div class="social-links">
    {{ socials.render(view.user_info) }}
  </div>
  <div class="availability-section">
    {% if view.user_info.availability != "busy" -%}
    <a href="{{ url('user:contact', kwargs={'info_id': view.user_info.id}) }}"
      class="status {{ view.user_info.availability }}">
      {{ avail_map[view.user_info.availability] }}
    </a>
    {%- else -%}
    <div class="status {{ view.user_info.availability }}">
      {{ avail_map[view.user_info.availability] }}
    </div>
    {%- endif %}
  </div>
  {% if view.user_info.github and view.user_info.github.bio -%}
  <section class="bio">
    <header>
      <h3>{{_("Biography")}}</h3>
    </header>
    <p>{{ view.user_info.github.bio }}</p>
  </section>
  {%- endif %}
  {% if view.user_info.hobbies -%}
  <header><h3>Hobbies</h3></header>
  <ul>
    {% for hobby in view.user_info.hobbies -%}
    <li>{{ hobby }}</li>
    {%- endfor %}
  </ul>
  {%- endif %}
  {% if view.user_info.skills -%}
  <section class="coding-lang">
    <header><h3>{{_("Coding Langauges and Frameworks")}}</h3></header>
    <md-content data-layout-padding>
      <div><md-input-container>
        <label for="skillFilterInput">Filter</label>
        <input type="text" name="skillFilterInput" data-ng-model="model.filter">
      </md-input-container></div>
      <md-list data-ng-init='model.skills = {{ view.user_info.skills | tojson }}'>
        <md-list-item class="skill md-3-line"
          data-ng-repeat="skill in model.skills | filter: model.filter track by $index"
          data-ng-click="null">
          <div class="md-list-item-text" data-layout="column">
            <div data-layout="row" data-layout-align="none center"
              data-ng-if="skill.tags &amp;&amp; skill.tags.length > 0">
              <h3>{{ '{{ skill.name }}' }}</h3>
              <div data-flex></div>
              <ul class="tags">
                <li class="tag" data-ng-repeat="tag in skill.tags">{{ '{{ tag }}' }}</li>
              </ul>
            </div>
            <h3 data-ng-if="!skill.tags || skill.tags.length < 1">{{ '{{ skill.name }}' }}</h3>
            <h4>{{ '{{ skill.description }}' }}</h4>
            <p>{{ '{{ skill.url }}' }}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </section>
  {%- endif %}
</section>
{%- endblock %}

{% block footer -%}
  <span data-fle></span>
  <a data-md-button class="md-raised md-accent" href="{{
    url('user:contact', kwargs={'info_id': view.user_info.id})
  -}}">{{_('Contact')}}</a>
  <button data-md-button data-ng-click="dialog.cancel()">{{_('Close')}}</button>
{%- endblock %}
