{% macro render(info) -%}
{% for url in info.urls -%}
{% if url.type == 'github' -%}
<a href="{{ url.url }}" target="_blank">
  <i class="ion-social-github"></i>
  <md-tooltip data-md-direction="bottom">
    {{_("View {}'s profile at Github").format(info.first_name)}}
  </md-tooltip>
</a>
{%- endif %}
{% if url.type == 'linkedin' -%}
<a href="{{ url.url }}" target="_blank">
  <md-tooltip data-md-direction="bottom">
    {{_("View {}'s profile at Linkedin").format(info.first_name)}}
  </md-tooltip>
  <i class="ion-social-linkedin"></i>
</a>
{% endif -%}
{% if url.type == 'angellist' -%}
<a href="url.url" target="_blank">
  <md-tooltip data-md-direction="bottom">
    {{_("View {}'s profile at AngelList").format(info.first_name)}}
  </md-tooltip> <i class="socicon-angellist"></i>
</a>
{% endif %}
{% if url.type == 'hackerrank' -%}
<a href="https://hackerrank.com/{{ url.url }}" target="_blank">
  <md-tooltip data-md-direction="bottom">
    {{_("View {}'s profile at HackerRank").format(info.first_name)}}
  </md-tooltip> H
</a>
{%- endif %}
{%- endfor %}
{%- endmacro %}
