<article class="about">
    <header>
        <h1>About</h1>
    </header>
    <section class="container">
        <header>
            <h2>What this?</h2>
        </header>
        <p>
            Since Hiroaki (i.e. me) started studying programming language,
            about {{ years }} years were passed. Through {{ years }} years,
            I'm feeling programming language made a lot, lots of changes.
            For example, the major programming languages were shift from
            C/C++ to RoR or Python, Javascript, HTML, etc... Of course,
            I know HTML is not a Programming Language, but HTML became
            the most essential language in WWW.
        </p>
        <p>
            In addition to those, I'm feeling the entire software product
            solutions are going to shift from desktop based app to cloud/para-cloud
            based app, which is made with RoR/Django/Flask/socket.io with
            AngularJS/Backbone.js, and the solutions are delivered as a service (i.e. SaaS).
        </p>
    </section>
</article>
