{% load webdesign %}
<article class="about">
    <header>
        <h1>About</h1>
    </header>
    <section>
        <header>
            <h2>What is this website?</h2>
        </header>
        <p>
            This website is the front-page of hysoftware.net. {{ I }}
            (i.e. The members of this website) develop desktop apps,
            web-based services (i.e. SaaS), platforms, and anything
            related with information technologies.
        </p>
        <p>
            Mainly, {{ iam }} focusing on web-apps and desktop-apps. Because {{ i }}
            have the both of the skills, {{ i }} can create web-apps and desktop-apps,
            which connect to each other.
        </p>
    </section>
    <section>
        <header>
            <h2>
                {{ My }} main goals
            </h2>
        </header>
        <section>
            <header>
                <h3>
                    Contirbuting to Code
                </h3>
            </header>
            <p>
                Because {{ iam }} passionative about software development, {{ i }}
                have develop high quality code. The code will be well-tested, modularized,
                and well-generalized. Of course, the code will be very valuable!
            </p>
            <p>
                In addition to commercial use code, {{ iam }} not conly code for commercial
                use, {{ iam }} developing software for open-source as portfolios, or something
                like "arts" or "music".
            </p>
        </section>
        <section>
            <header>
                <h3>
                    Sharing pro-tips
                </h3>
            </header>
            <p>
                {{ iam }} sharing pro tips through {{ my }} works. The tips might be also
                valuable/not valuable to you, but {{ iam }} glad the tips are useful to you...
            </p>
        </section>
        <section>
            <header>
                <h3>Being better for each other through contributing</h3>
            </header>
            <p>
                This is the most important thing. The code has profitable stuff, but it
                isn't always "nice". In this case, it doesn't only mean "high-quality"; it
                means "better solution", "something better", or "entierly the best". {{Iam}}
                always trying to be "the best" through development.
            </p>
        </section>
    </section>
    <section>
        <header>
            <h2>Development Process</h2>
        </header>
        <p>
            Software development is hard to estimate the deliver date. Hence,
            {{ my }} strategy is just iterating implementing small parts. Therefore,
            the software is created like "snow man" (snow man is made from a lot of
            small "snow balls", isn't it?).
        </p>
        <p>
            The development process is very major and well-known as "Agile Development";
            Test Driven Development, Integration, and Refactoring. By iterating these
            processs, {{ i }} can make very hight quality code.
        </p>
        <div class="dev_process hidden-xs hidden-sm">
            <div class="row">
                <div class="col-xs-4 col-xs-offset-4 text-center text">
                    Test
                </div>
            </div>
            <div class="row dev_process">
                <div class="col-xs-4 text-right vcenter_container">
                    <p class="text">
                        Integrate
                    </p>
                </div>
                <div class="col-xs-4 text-center circle">
                    <span class="ion-ios-loop-strong"></span>
                </div>
                <div class="col-xs-4 text-left vcenter_container">
                    <p class="text">
                        Refactor
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <header>
            <h2>Limits of use {{ my }} free code</h2>
        </header>
        <p>
            Except code that {{ i }} made for commercial use, the most code is open-sourced.
            For normal use (no-redistribution, no-modification, just use), you can use freely.
            However, if you want to re-distribute and/or modify {{ my }} code, you will need to
            be careful about the license. In the most cases, The license exists a file named "LICENSE",
            however, if you couldn't find the file, please check "about" window or "--version";
            you can check the license. If you couldn't find what license is used though doing
            them, you should assume the software is licensed under the terms of the latest version
            of GPL.
        </p>
        <p>
            In the most cases, {{ my }} free code is distributed under the terms of GPLv3 or
            later, but sometimes, {{ iam }} release {{ my }} code under the terms of more weak
            licenses. (e.g. MIT License, LGPv3, Creative Commons, etc...)
        </p>
    </section>

    <section>
        <header>
            <h2>Who {{ami}}?</h2>
        </header>
        {% for person in people %}
            <section class="developer">
                <header>
                    <h3>{{ person.firstname }} {{ person.lastname }} - {{ person.title }}</h3>
                </header>
                <div class="row">
                    <div class="col-sm-3 text-right">
                        Programming Languages
                    </div>
                    <div class="col-sm-9 text-left">
                        <ul>
                        {% for language in person.programming_languages %}
                            <li>{{ language.name }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        Natural Languages
                    </div>
                    <div class="col-sm-9 text-left">
                        <ul>
                        {% for language in person.natural_languages %}
                            <li>{{ language.name }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        Websites
                    </div>
                    <div class="col-sm-9 text-left">
                        {% for website in person.websites %}
                            <div class="social">
                                {% if website.type == "G+" %}
                                    <div class="background gplus text-center">
                                {% elif website.type == "FB" %}
                                    <div class="background fbook text-right">
                                {% elif website.type == "CW" %}
                                    <div class="background cwall">
                                {% elif website.type == "AS" %}
                                    <div class="background assembly">
                                {% elif website.type == "BB" %}
                                    <div class="background bitbucket">
                                {% elif website.type == "OT" %}
                                    <div class="background other">
                                {% else %}
                                    <div>
                                {% endif %}
                                        <a href="{{ website.url }}" target="_blank">
                                            {% if website.type == "G+" %}
                                                <span class="ion-social-googleplus-outline"></span>
                                            {% elif website.type == "LI" %}
                                                <span class="ion-social-linkedin"></span>
                                            {% elif website.type == "FB" %}
                                                <span class="ion-social-facebook"></span>
                                            {% elif website.type == "TW" %}
                                                <span class="ion-social-twitter"></span>
                                            {% elif website.type == "CW" %}
                                                <span class="coderwall-icon">Coderwall</span>
                                            {% elif website.type == "AS" %}
                                                <img src="data:text/plain,dummy"
                                                     alt="assembly"
                                                     class="assembly-icon">
                                            {% elif website.type == "GH" %}
                                                <span class="ion-social-github"></span>
                                            {% elif website.type == "BB" %}
                                                <span class="bitbucket-icon">Bitbucket</span>
                                            {% elif website.type == "OT" %}
                                                <span class="other-icon">{{ website.title }}</span>
                                            {% endif %}
                                        </a>
                                    </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        Acceptable Vendor Management System
                    </div>
                    <div class="jobs">
                        {% for vms in person.acceptable_vms %}
                            {% if vms.agent != "DR" %}
                                <div>
                                    <a href="{{ vms.url }}" target="_blank">
                                        <span class="{{ vms.agent }}">
                                            {{ vms.name }} at {{ vms.agent_name }}
                                        </span>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endfor %}
    </section>
</article>
