.header-legal {
  height: 150px;
  background:
    url("{{ url( 'common:assets', kwargs={'filename': 'legal'} ) }}")
    no-repeat;
  background-size: cover;
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}
