.header-legal {
  background: url("./assets/title.jpg");
  color: #EFEBE9;
  text-shadow: 2px 2px 2px #212122;
  .filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
    opacity: 0.4;
  }
}
