div.page(fxLayout='row' fxLayoutAlign.gt-xs="center center")
  div(fxFlex="10")
  section(fxFlex.gt-md="34")
    header
      h1 Hiroaki Yamamoto
      p Coder / Hacker / Software &amp; Web Engineer / Translator / etc...
    section
      header
        h2 SNS
      a.withIcon(
        mat-raised-button
        '*ngFor'='let item of snsList'
        '[href]'='item.link' target='_blank'
      )
        | #[i.slg('[ngClass]'='item.icon')] #[br] {{ item.name }}
    section
      header
        h2 Misc
      a.withIcon(
        mat-raised-button
        '*ngFor'='let item of misc'
        '[href]'='item.link' target='_blank'
      )
        | #[i.slg('[ngClass]'='item.icon')] #[br] {{ item.name }}
    section
      header
        h3 Where is hysoftware.net using Django?
      p.
        When I launched my website, I found the numper of people who contacted
        thru my website was very few and it means a website isn't really
        effective to receive job offers. In addition to this, even if I
        received the offers, it seemed to be insincere.
      p.
        If you want to see the webapp, check
        #[a(href="https://github.com/hysoftware/hysoftware.net/tree/legacy-2018" target="_blank") this].
    section
      header
        h3 How to contact me
      p.
        If you want to contact me, use SNS or email me directly. The reason why
        I don't disclose my email address is to avoid insincere job scouts / offers.
        However, you can get my email address very easily as long as you are
        familar with this world.
  div(fxFlex="10")
