div.page(fxLayout='row' fxLayoutAlign.gt-xs="center center")
  div(fxFlex="10")
  app-normal-mode('*ngIf'='!dead' fxFlex.gt-md="34")
  app-dead('*ngIf'='dead' '[rip]'='dead' fxFlex.gt-md="34")
  div(fxFlex="10")
