html.firefox {
    body {
        text-shadow: 0 0 1px rgba(0,0,0,0.3);
    }
}
body {
    background: {
        color: $backgroundColor;
    }
}
div.main.container {
    padding: {
        top: 50px;
    }
}
h1, h2, h3 {
    font: {
        family: 'Open Sans', sans-serif;
        weight: 300;
    }
    color: $titleColor;
}
article {
    section {
        margin: {
            left: 3%;
            right: 3%;
        }
    }
    p {
        color: $articleParagraphColor;
    }
}
.vcenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
