body {
    background: {
        color: $backgroundColor;
    }
}
article {
    h1 {
        font: {
            family: 'Open Sans', sans-serif;
            weight: 300;
        }
        color: #212122;
    }
    h2 {
        font: {
            family: 'Open Sans', sans-serif;
            weight: 300;
        }
        color: #212122;
    }
    p {
        color: #616162;
    }
}
