{% extends "mail_base.html" -%}
{% block title %}{{ _("Thank you for your interests") }}{% endblock -%}
{% block body -%}
<h1>{{ _("Hi {} !").format(form.instance.primary_name) }}</h1>
<p>{{ _n(
  "Thank you for your interests. I will reply as soon as possible.",
  "Thank you for your interests. we will reply as soon as possible.",
  users_info.count()
)} {{_n(
  "However, I am receiving tons of emails, sometimes the reply might be delayed."
  "(Usually, I can reply your mail in 1-3 business days, however it might be 1 "
  "or 2 weeks in super-busy season.)",
  "However, We are receiving tons of emails, sometimes the reply might be delayed."
  "(Usually, we reply your mail in 1-3 business days, however it might be 1 or "
  "2 weeks in super-busy season.)", users_info.count()
)}}</p>
<p>{{ _("Thank you") }}</p>
<p>{{ _("Btw, here is what you wrote...") }}</p>

<blockquote cite="http://hysoftware.net/u/contact">
  <p>{{ form.message }}</p>
  <p>
    {{_("Company name: {}").format(form.instance.company_name) }} <br>
    {{_("Your email address: {}").format(form.instance.email) }} <br>
  </p>
</blockquote>
{% endblock %}
