{% extends "mail_base.html" -%}
{% block header -%}
<style>
  table {
    border-collapse: collapse;
  }
  table, th, td {
    border: 1px solid black;
  }
</style>
{%- endblock %}
{% block title %}{{ form.instance.primary_name }}{% endblock -%}
{% block body -%}
<h1>{{ _("{} is interested in you.").format(form.instance.primary_name) }}</h1>
<p>
  {{_("Hi {},").format(user)}} <br>
  {{ form.instance.primary_name }}
  {% if form.instance.company_name %}({{ form.instance.company_name }}){% endif -%}
  is interested in you. Here is the message he wrote:
</p>
<table>
  <thead><tr><th>Name</th><th>Value</th></tr></thead>
  <tbody>
    {% for fld in form -%}
      {% if form.instance[fld.name] -%}
      <tr><td>{{ fld.label }}</td><td>{{ form.instance[fld.name] }}</td></tr>
      {%- endif %}
    {%- endfor %}
  </tbody>
</table>

Thanks.
{%- endblock %}
