.home-header {
  position: relative;
  background: linear-gradient(to bottom right, #141B29, #141B29, #2E4172);
  background: {
    size: cover;
    repeat: no-repeat;
  }
  .title {
    p.active {
      margin: 0 1.1rem;
    }
    .active {
      opacity: 1.0;
      margin: 0 1rem;
    }
    * {
      $anitmationDurationDelay: .5s .82s;
      transition:
      opacity $anitmationDurationDelay,
        margin $anitmationDurationDelay;
      margin: 0 2rem;
      opacity: 0;
    }
  }
  .filter {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    font: {
      size: 2rem;
    }
  }
  h1 {
    font-weight: 300;
  }
  * {
    color: #F6F6F6;
    text-shadow: #212123 5px 5px 5px;
  }
}
