.home-header {
  position: relative;
  background: {
    color: #2D882D;
    size: cover;
    repeat: no-repeat;
  }
  .filter{
    position: absolute;
    width: 100%;
    height: 100%;
    // opacity: 0.5;
    // background: radial-gradient(transparent, black);
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-transform: uppercase;
    font: {
      size: 4rem;
    }
  }
  * {
    color: #F6F6F6;
    text-shadow: #212123 5px 5px 5px;
  }
}
