@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}
.home {
  position: relative;
  .subheader {
    margin: 2rem 0;
    h1, p {
      margin: 0.1rem 0;
    }
  }
  p {
    color: #757575;
    margin: 0.5rem 0;
  }
  li {
    color: #757575;
    margin: 0.1rem;
  }
  small {
    color: #757575;
    font-size: 0.7rem;
  }
  .icon {
    color: #757575;
    .fas.fa-circle-notch {
      animation: spin 2s linear infinite;
    }
  }
  .banner {
    margin-right: 1rem;
  }
  a:not([data-md-button]) {
    text-decoration: none;
    color: #000;
    &:hover {
      color: #0000ff;
      text-decoration: underline;
    }
  }
}
.feature {
  margin: 1rem;
}
.interest {
  color: #E3F2FD;
  background-color: #2980b9;
  padding: 2rem;
  h1 {
    margin: 0.1rem 0;
  }
  p {
    color: #E3F2FD;
  }
}
