.home {
  position: relative;
  .subheader {
    margin: 2rem 0;
    h1, p {
      margin: 0.1rem 0;
    }
  }
  p {
    color: #757575;
    margin: 0.5rem 0;
  }
  small {
    color: #757575;
    font-size: 0.7rem;
  }
  .icon {
    color: #757575;
  }
}
.interest {
  color: #E3F2FD;
  background-color: #2980b9;
  padding: 2rem;
}
