<section>
  <header>
    <h1>Hiroaki Yamamoto</h1>
    <p>Coder / Hacker / Software &amp; Web Engineer / Translator / etc...</p>
  </header>
  <app-link-list />
  <section>
    <header>
      <h2>Who am I?</h2>
    </header>
    <p>
      My name is Hiroaki Yamamoto, who is mainly working as full stack software
      engineer.
    </p>
  </section>
  <section>
    <header>
      <h2>Kind of languages I use</h2>
    </header>
    <p>I can use languages in...</p>
    <ul>
      <li>Japanese</li>
      <li>English</li>
      <li>Python</li>
      <li>Golang</li>
      <li>Rust</li>
      <li>etc...</li>
    </ul>
  </section>
  <section>
    <header>
      <h2>For my resume</h2>
    </header>
    <p>
      If you want my resume for hiring, let me know in anyways.
      (But emailing me directly is recommended.)
    </p>
  </section>
</section>
