.jobs {
    div {
        display: table-cell;
        padding: {
            left: 5px;
            right: 5px;
        }
        span {
            $transition_duration: 0.2s;
            transition:
                color $transition_duration,
                border-color $transition_duration,
                background-color $transition_duration,
        }
        .EL, .OD, .DR {
            border: {
                style: solid;
                width: 1px;
                radius: 5px;
            }
            padding: {
                left: 5px;
                right: 5px;
            }
        }
        @mixin jobBack($color) {
            border: {
                color: $color;
            }
            color: $color;
            &:hover {
                background: {
                    color: $color;
                }
                border: {
                    color: transparent;
                }
                color: white;
            }
        }
        .EL {
            @include jobBack(#0567b1);
        }
        .OD {
            @include jobBack(#7bd454);
        }
        .DR {
            $color: #424242;
            border: {
                color: $color;
            }
            color: $color;
        }
    }
}
