.social {
    $rect_sidesize: 27px;
    & {
        padding: {
            left: 5px;
            right: 5px;
        }
        display: table-cell;
    }

    .ion-social-linkedin,
    .ion-social-github,
    .ion-social-twitter {
        font: {
            size: 36px;
        }
        transition: color 0.5s ease;
    }
    .ion-social-twitter {
        font: {
            size: 28px;
        }
    }
    .ion-social-github {
        $color: #212122;
        color: lighten($color, 10%);
        &:hover {
            color: $color;
        }
    }
    .ion-social-googleplus-outline {
        color: white;
        font: {
            size: 24px;
        }
    }
    .ion-social-facebook {
        color: white;
        font: {
            size: 24px;
        }
        margin: {
            right: 5px;
        }
    }
    .coderwall-icon,
    .bitbucket-icon,
    .other-icon {
        color: #FAFAFB;
        font: {
            size: 12px;
        }
        padding: {
            left: 6px;
            right: 6px;
        }
    }
    .assembly-icon {
        @import "./assembly";
        content: $assembly_icon;
    }
    .background {
        & {
            transform: translate(0, -10%);
            width: $rect_sidesize;
            height: $rect_sidesize;
            border: {
                radius: 10%;
            }
            display: inline-block;
            transition: background-color 0.5s ease;
        }
        @mixin socialBackGround($bgColor) {
            background: {
                color: $bgColor;
            }
            &:hover {
                background: {
                    color: darken($bgColor, 10%);
                }
            }
        }
        &.gplus {
            @include socialBackGround(#dd4b39);
        }
        &.fbook {
            @include socialBackGround(#3a5795);
        }
        &.assembly {
            width: $rect_sidesize;
            height: $rect_sidesize;
        }
        @mixin socialBackGroundHasText($backColor) {
            width: initial;
            height: initial;
            background: {
                color: lighten($backColor, 10%);
            }
            border: {
                radius: 2px;
            }
            &:hover {
                background: {
                    color: $backColor;
                }
            }
        }
        &.cwall {
            @include socialBackGroundHasText(#343131);
        }
        &.bitbucket {
            @include socialBackGroundHasText(#205081);
        }
        &.other {
            @include socialBackGroundHasText(#558B2F);
        }
    }
}
