article.about {
    .dev_process {
        .text {
            font: {
                size: 200%;
            }
        }
        .vcenter_container {
            position: relative;
            .text {
                padding: {
                    top: 50%;
                }
                transform: translate(0, -50%);
            }
        }
        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
        .circle {
            font: {
                size: 1000%;
            }
            .ion-ios-loop-strong:before {
                transform: translate(-50%, -50%);
                transform: rotate(180deg);
                animation: {
                    name: rotate;
                    duration: 2s;
                    timing-function: linear;
                    iteration-count: infinite;
                }
            }
        }
    }
    section.developer {
        $internal_padding: 10px;
        & {
            border: {
                style: solid;
                width: 1px;
                color: #424242;
                radius: 5px;
            }
            margin: {
                top: 30px;
                bottom: 30px;
            }
        }
        a {
            &:hover,
            &:active,
            &:link,
            &:visited {
                text-decoration: none;
            }
        }
        .row {
            padding: {
                left: $internal_padding;
                top: $internal_padding;
            }
        }
        header {
            & {
                border: {
                    bottom: {
                        style: solid;
                        width: 1px;
                        color: #424242;
                    }
                }
            }
            h3 {
                padding: {
                    left: $internal_padding;
                }
                margin: {
                    top: 15px;
                    bottom: 15px;
                }
            }
        }
        @import "./social";
        @import "./jobs";
        @import "./tag";
    }
}
