article.about {
    .dev_process {
        .text {
            font: {
                size: 200%;
            }
        }
        .vcenter_container {
            position: relative;
            .text {
                padding: {
                    top: 50%;
                }
                transform: translate(0, -50%);
            }
        }
        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
        .circle {
            font: {
                size: 1000%;
            }
            .ion-ios-loop-strong:before {
                transform: translate(-50%, -50%);
                transform: rotate(180deg);
                animation: {
                    name: rotate;
                    duration: 2s;
                    timing-function: linear;
                    iteration-count: infinite;
                }
            }
        }
    }
    section.developer {
        $internal_padding: 10px;
        & {
            border: {
                style: solid;
                width: 1px;
                color: #424242;
                radius: 5px;
            }
            margin: {
                top: 30px;
                bottom: 30px;
            }
        }
        .row {
            padding: {
                left: $internal_padding;
                top: $internal_padding;
            }
        }
        header {
            & {
                border: {
                    bottom: {
                        style: solid;
                        width: 1px;
                        color: #424242;
                    }
                }
            }
            h3 {
                padding: {
                    left: $internal_padding;
                }
                margin: {
                    top: 15px;
                    bottom: 15px;
                }
            }
        }
        .social {
            $rect_sidesize: 27px;
            & {
                padding: {
                    left: 5px;
                    right: 5px;
                }
                display: table-cell;
            }

            .ion-social-linkedin {
                font: {
                    size: 36px;
                }
                transition: color 0.5s ease;
            }
            .ion-social-googleplus-outline {
                color: white;
                font: {
                    size: 24px;
                }
            }
            .ion-social-facebook {
                color: white;
                font: {
                    size: 24px;
                }
                margin: {
                    right: 5px;
                }
            }
            div {
                transition: background-color 0.5s ease;
            }
            .background {
                & {
                    transform: translate(0, -10%);
                }
                &.gplus {
                    position: relative;
                    $backColor: #dd4b39;
                    width: $rect_sidesize;
                    height: $rect_sidesize;
                    background: {
                        color: $backColor;
                    }
                    border: {
                        radius: 10%;
                    }
                    &:hover {
                        background: {
                            color: darken($backColor, 10%);
                        }
                    }
                }
                &.fbook {
                    width: $rect_sidesize;
                    height: $rect_sidesize;
                    $backColor: #3a5795;
                    background: {
                        color: $backColor;
                    }
                    border: {
                        radius: 10%;
                    }
                    &:hover {
                        background: {
                            color: darken($backColor, 10%);
                        }
                    }
                }
            }
        }
    }
}
