@import "./assembly";
article.about {
    .dev_process {
        .text {
            font: {
                size: 200%;
            }
        }
        .vcenter_container {
            position: relative;
            .text {
                padding: {
                    top: 50%;
                }
                transform: translate(0, -50%);
            }
        }
        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
        .circle {
            font: {
                size: 1000%;
            }
            .ion-ios-loop-strong:before {
                transform: translate(-50%, -50%);
                transform: rotate(180deg);
                animation: {
                    name: rotate;
                    duration: 2s;
                    timing-function: linear;
                    iteration-count: infinite;
                }
            }
        }
    }
    section.developer {
        $internal_padding: 10px;
        & {
            border: {
                style: solid;
                width: 1px;
                color: #424242;
                radius: 5px;
            }
            margin: {
                top: 30px;
                bottom: 30px;
            }
        }
        .row {
            padding: {
                left: $internal_padding;
                top: $internal_padding;
            }
        }
        header {
            & {
                border: {
                    bottom: {
                        style: solid;
                        width: 1px;
                        color: #424242;
                    }
                }
            }
            h3 {
                padding: {
                    left: $internal_padding;
                }
                margin: {
                    top: 15px;
                    bottom: 15px;
                }
            }
        }
        .social {
            $rect_sidesize: 27px;
            & {
                padding: {
                    left: 5px;
                    right: 5px;
                }
                display: table-cell;
            }

            .ion-social-linkedin {
                font: {
                    size: 36px;
                }
                transition: color 0.5s ease;
            }
            .ion-social-googleplus-outline {
                color: white;
                font: {
                    size: 24px;
                }
            }
            .ion-social-facebook {
                color: white;
                font: {
                    size: 24px;
                }
                margin: {
                    right: 5px;
                }
            }
            .ion-social-twitter {
                font: {
                    size: 28px;
                }
                transition: color 0.5s ease;
            }
            .coderwall-icon {
                color: #FAFAFB;
                font: {
                    size: 12px;
                }
                padding: {
                    left: 6px;
                    right: 6px;
                }
            }
            .assembly-icon {
                color: transparent;
                content: $assembly_icon;
            }
            div {
                transition: background-color 0.5s ease;
            }
            a:hover {
                text-decoration: none;
            }
            .background {
                & {
                    transform: translate(0, -10%);
                    width: $rect_sidesize;
                    height: $rect_sidesize;
                    border: {
                        radius: 10%;
                    }
                }
                &.gplus {
                    position: relative;
                    $backColor: #dd4b39;
                    background: {
                        color: $backColor;
                    }
                    &:hover {
                        background: {
                            color: darken($backColor, 10%);
                        }
                    }
                }
                &.fbook {
                    $backColor: #3a5795;
                    background: {
                        color: $backColor;
                    }
                    &:hover {
                        background: {
                            color: darken($backColor, 10%);
                        }
                    }
                }
                &.cwall {
                    $backColor: #343131;
                    width: initial;
                    height: initial;
                    background: {
                        color: lighten($backColor, 10%);
                    }
                    border: {
                        radius: 2px;
                    }
                    &:hover {
                        background: {
                            color: $backColor;
                        }
                    }
                }
                &.assembly {
                    width: $rect_sidesize;
                    height: $rect_sidesize;
                    &:hover {
                    }
                }
            }
        }
    }
}
