.tag {
    display: table-cell;
    & {
        padding: {
            left: 5px;
            right: 5px;
        }
    }
    span {
        padding: {
            left: 5px;
            right: 5px;
        }
        background: {
            color: #BCAAA4;
        }
        border: {
            radius: 3px;
        }
    }
}
