* {
  font: {
    family: 'Montserrat', sans-serif;
    weight: 300
  }
}
h1, h2, h3, h4, h5, h6 {
  font: {
    weight: 400
  }
}
title {
  h1, h2, h3, h4, h5, h6 {
    font: {
      weight: 200
    }
  }
}
strong, b {
  font: {
    weight: 400
  }
}
h1 {font-size: 2rem;}
h2 {font-size: 1.82rem;}

.capitalize {
  text-transform: capitalize;
}

.text-no-transform {
  text-transform: none;
}

.impact {
  font: {
    weight: 400;
    size: 1.5rem;
  }
  padding: 0.3em 0.6em;
}
.large {
  font: {
    size: 4rem;
  }
}
.ultra-large {
  font: { size: 8rem; }
}
