h1, h2, h3, h4, h5, h6 {
  font: {
    family: 'Raleway', sans-serif;
    weight: 300
  }
}
strong, b {
  font: {
    family: 'Raleway', sans-serif;
    weight: 500
  }
}
* {
  font: {
    family: 'Raleway', sans-serif;
    weight: 300
  }
}
