.text-center {
  text-align: center;
}
.text-right{
  text-align: right;
}
.vcenter {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}
.container {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  width: 80%;
}
.container-large {
  @extend .container;
  width: 95%;
}
.nospace {
  margin: 0;
  padding: 0;
}
footer {
  padding: 1rem;
  h1 {
    margin-top: 0;
  }
}
