.text-center {
  text-align: center;
}
.container {
  width: 80%;
}
.container-large {
  width: 95%;
}
.nospace {
  margin: 0;
  padding: 0;
}
footer {
  padding: 1rem;
  h1 {
    margin-top: 0;
  }
}
md-input-container {
  width: 100%;
}
a[data-md-button].md-fab {
  position: relative;
  md-icon {
    padding: 0;
    margin: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}

.legal-link {
  $transitionDuration: 500ms;
  text-align: right;
}

@media only screen and (max-width: 959px) {
  .legal-link {text-align: left;}
}

.md-dialog-content {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  header {
    border-bottom: 1px solid #E0E0E1;
  }
}
