md-fab-speed-dial {
  position: fixed;
  right: 0;
  bottom: 0;
}
nav.main-nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 45px;
  background-color: #212122;
  opacity: 0.8;
  transition: background-color 500ms, opacity 500ms, text-shadow 500ms;
  * {
    // height: 100%;
    padding: 0;
    margin: 0 5px;;
  }
  &.in {
    background-color: transparent;
    color: #F6F6F6;
    opacity: inherit;
    text-shadow: 3px 3px 2px black;
  }
  a, md-icon {
    color: #F6F6F6;
    text-decoration: none;
  }
  .brand {
    font-weight: 500;
    margin: 0 1rem;
  }
}
