@import "./color.less";

nav.main-menu {
  background-color: transparent;
  border: none;
  margin: 0;
  .navbar-brand {
    color: @titleTxtColor;
    &:hover {
      color: @titleTxtColor;
    }
  }
}
