.jumbotron.main-title {
  @baseColor: #43A047;
  @txtColor: lighten(@baseColor, 30%);
  @bgcolor: darken(@baseColor, 10%);
  height: 100%;
  background-color: @bgcolor;
  .title-content {
    color: @txtColor;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
  .title-bottom {
    top: 100%;
  }
}
