.button-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button-content-container {
  position: relative;
  padding: 1rem;
}

a.withIcon {
  display: inline-flex;
  margin: 0.5rem;
  padding: 1rem;
  line-height: 1rem;
}
